@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    
}

.title-font-family{
    font-family: 'EB Garamond', serif !important;
    
}

/* Global css End */

.hero-banner{
    background-image: url("../images/banner.png") ,linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    background-blend-mode: overlay;
}

.card-bg{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}

.slider-fixed{
    height: 500px;
   
}

.carousel-item > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
  }

  .contact-card-bg, .contact-form-bg{
    background: #F3F3F3;
  }

  .footer-form-btn{
    margin-left: -12px;
  }

  /* Mobile Responsive CSS */
@media screen and (max-width:576px){
    .hero-button{
     width: 100% !important;
     margin-top: 10px;
     margin-left: 0px !important;
    }
   
    .slider-fixed{
        height: 100%;
       
    }
    .carousel-item > div {
        padding-top: 50px;
      }
      
    .slider-content-fix{
        bottom: 1.0rem;
    }
    
    .contact-border , .card-border{
       border: none !important;
      }
}